
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$red2: #f50c0c;
$orange: #f6993f;
$yellow: #ffed4a;
$yellow2: #FF9C00;
$yellow3: #ded435;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$cyan2: #13e9f1;

//Background
$bg_blue: #007eff;
$bg_free: #f3f9e9;
$bg_pull_down: #ffc10721;
