// Variables
@import '../../assets/sass/variables';
body{
    .admin-wrapper #content-wrapper{
        .container{
            padding-top: 70px;
            .content{
                .box-info{
                    padding: 10px;
                    .container{
                        padding-top: 15px;


                    }
                }
            }


            // Table OTP
            #table-otp.table{
                border: 1px solid white ;
                background: rgba(56, 193, 114, 0.05);
                tr th{
                    background: #38aec1; color: white; border-color: white ;
                    a{
                        color: white;
                        .sort{
                            margin-left: 5px;
                        }
                    }
                }
                tr td{border-color: white ; padding-left: 10px;}
                //.code{width: 200px;}
                //.generation_num{width: 200px;}
                //.expire_dt{width: 200px;}
                //.company_created{width: 200px;}
                //.company_name{width: 200px;}
                //.company_owner{width: 200px;}
                //.detail_address{width: 200px;}
                //.company_tel{width: 200px;}
                //.status{width: 200px;}
                //.owner{width: 200px;}
                //.action{width: 200px;}
            }

            // job table
            .table-job-compare{
                border: 1px solid white ;
                background: rgba(56, 193, 114, 0.05);
                tr th{background: #38aec1; color: white; border-color: white ;}
                tr td{border-color: white ; padding-left: 10px;}
            }

            // admin table
            .admin-table{
                tr{
                    th{
                        padding:5px !important;
                        a{
                            float: left;
                            text-align: center;
                            width: 100%;
                            font-weight: bold;
                        }
                    }
                    th:last-child{

                    }
                    th:last-child{

                    }
                    td{
                        padding:5px !important;
                    }
                    td:first-child{

                    }
                    td:last-child{

                    }
                }
            }

        }
    }
    .error-mesages-right {
        //cursor: pointer;
        background: #FF9C00;
        position: fixed;
        right: 0px;
        height: auto;
        padding: 10px;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        border-radius: 5px 0px 0px 5px;
        color: #fff;
        z-index: 100;
    }
}


@media (min-width:1200px){
    .container {
        max-width: calc(100% - 200px);
    }
}
@media (max-width: 1199.98px){
    .container {
        max-width: calc(100% - 50px);
    }
}
