.job_category .category {
  background: #ecf3f9;
  margin-bottom: 15px;
  padding: 10px;
}

.job_category .category .category-child-list {
  margin-bottom: 1px;
  list-style: none;
  padding-left: 10px;
}

.job_category .category .category-child {
  margin-bottom: auto;
}

.job_category .category-name {
  font-size: 26px;
  color: #2779aa;
}

.job_category [hidden] {
  display: none !important;
}

.job_category .form-upload {
  margin-top: 10px;
}

.job_category .link-underline {
  text-decoration: underline;
}

.sortable-category {
  list-style: none;
}
ul {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ul li {
  counter-increment: my-awesome-counter;
}
ul li.category-child-list::before {
  content: counter(my-awesome-counter) ". ";
  color: #2779aa;
  font-weight: 500;
}
ul li .category-name::before {
  content: counter(my-awesome-counter) ". ";
  color: #2779aa;
  font-weight: normal;
  font-size: 28px;
}
ul li .list-parent-category::before {
  content: counter(my-awesome-counter) ". ";
  color: #2779aa;
  font-weight: normal;
  font-size: 28px;
}
.add-category {
  margin-top: -20px;
  margin-bottom: 15px;
}
.category .input-name-category {
  display: none;
  width: 85%;
}
.category .done-save-name {
  display: none;
  font-size: 18px;
  margin-top: 5px;
}
.job_category .close-category-name {
  display: none;
}
.job_category .delete-category {
  margin-top: -2px;
  color: red;
}
.select-lang {
  text-transform: uppercase;
}
.custom-file-input.icon-popup.error {
  margin-left: -197px;
}
.custom-file-input.icon-popup {
  margin-left: -220px;
}

